<ion-content class="ion-padding" [ngClass]="{'ion-content': darkMode === true}">
    <ion-row>
        <ion-col size="9" size-md style="text-align: right;">
            <span class="forget-pass">{{mode}}</span>
        </ion-col>
        <ion-col size="3" size-md>
            <ion-toggle style="margin-top: -8px;" [value]="darkMode" [checked]="darkMode" (ionChange)="changeTheme()"></ion-toggle>
        </ion-col>
    </ion-row>
    <br/>
    <img src="assets/images/user.webp" class="img">
    <h4 style="margin-left: 20px;">
        <b>Sign In</b>
    </h4>
    <ion-avatar></ion-avatar>
    <form class="example-form">
        <ion-item>
            <ion-input placeholder="Username"></ion-input>
        </ion-item>
        <br/>
        <br/>
        <ion-item>
            <ion-input [type]="type" placeholder="Password"></ion-input>
                <mat-icon [svgIcon]="eye" (click)="viewPassword()"></mat-icon>
        </ion-item>
    </form>
    <ion-avatar></ion-avatar>
    <ion-row>
        <ion-col size="9" size-md>
            <span class="forget-pass">Forget Password ?</span>
        </ion-col>
        <ion-col size="3" size-md>
            <button mat-fab class="btn-forward" (click)="onHome()">
                <mat-icon svgIcon="forward"></mat-icon>
            </button>
        </ion-col>
    </ion-row>

    <ion-avatar></ion-avatar>
    <div class="forget-pass">Are you new to system? <span class="txt-sign-up">SIGN UP</span></div>
</ion-content>
